#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 124px);  
    grid-gap: 10px;                          
    padding: 10px;
}

#grid > div {
    background: green;
    color: white;
    padding: 20px;
    font-size: 24px;
}

#grid > div:nth-child(1) {
    grid-column: span 4 / auto;
}

#grid > div:nth-child(2) {
    grid-row: span 4 / auto;
}

#grid > div:nth-child(4) {
    grid-column: span 2 / auto;
}

#grid > div:nth-child(5) {
    grid-column: span 2 / auto;
}

#grid > div:nth-child(10) {
    grid-column: span 3 / auto;
}
