#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 10px;

    grid-template-areas:
        "i1  i1  i1  i1"

        "i2  i3  i3  i4"

        "i2  i5  i5  i6"

        "i2  i7  i8  i9"

        "i2  i10 i10 i10";
}

#grid div {
    background: green;
    color: white;
    font-size: 24px;
    padding: 15px;
}

/* Assign areas */
.i1  { grid-area: i1; }
.i2  { grid-area: i2; }
.i3  { grid-area: i3; }
.i4  { grid-area: i4; }
.i5  { grid-area: i5; }
.i6  { grid-area: i6; }
.i7  { grid-area: i7; }
.i8  { grid-area: i8; }
.i9  { grid-area: i9; }
.i10 { grid-area: i10; }
